/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


label {
  color:white;
  background-color: black

}

h1 {
  color:white

}
body {
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/RuPaul_by_David_Shankbone.jpg/1200px-RuPaul_by_David_Shankbone.jpg);
  background-position: center;
  background-position: top;
  background-color: black;
  color: white
}

input[type="submit"] {
  color:white;
  background:black
}

a {
  color:white;
  background:black;
  background-blend-mode: hue;
}
